img{
    width: 20px;
    height: 20px;
}

table{

    border: 1px solid black;
    border-radius: 10px;
    border-collapse: collapse;
    overflow: hidden;
}
table,td {

    border-collapse: collapse;
    border: 2px solid black;

}

.mainRow{
    background: yellow;
    font-size: 30px;
    font-weight: bold;

}

.brasilRow,.italyRow,.germanyRow{
    background: #FFFFFF;
}

.spainRow,.argentinaRow{
    background-color: rgba(128,128,128,0.9);
}
.result,.score1,.score2,.score3,.score4,.score5,.placeBet,
.group1,.group2,.group3,.group4,.group5{
    text-align: center;
}
/*tr:nth-last-child(1)*/

.brazil1,.brazil2,.spain1,.spain2,.italy1,.italy2,.argentina1,
.argentina2,.germany1,.germany2{
    text-align: right;



}

button:disabled {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    background-color: red;
    color: white;
    font-size: 8px;
}

button:enabled {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    background-color: green;
    color: white;
    font-size: 8px;
}

